@import 'tailwindcss';

:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Border Colors are all transparent colors. These will tint or shade the background color of the square. */
  --border-left-color: rgba(255, 255, 255, 0.2);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  /* Square Colors:  background colors for the squares.*/
  --color-0: rgba(0, 0, 0, 0);
  --color-1: #ff6600;
  --color-2: #eec900;
  --color-3: #0000ff;
  --color-4: #cc00ff;
  --color-5: #00ff00;
  --color-6: #66ccff;
  --color-7: #ff0000;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
  --control-button-size: calc(var(--tile-size) * 3.3);
}

.app {
  --col-side: calc(var(--tile-size) * 6);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 18);

  width: calc(var(--tile-size) * (6 + 1 + 10 + 1 + 6));
  margin: auto;
  display: grid;

  grid-gap: var(--tile-size) var(--tile-size);
  /* Defines three columns of `--col-side`, `--col-center`, and `--col-side` widths. */
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  /* Defines three rows of `100px`, `--grid-height`, and 100px. */
  grid-template-rows: 100px var(--grid-height) 100px;

  /** This defines the areas on the grid with names: 
  * 'h' -> header,
  * 'l' -> left,
  * 'c' -> center,
  * 'r' -> right,
  * and 'b' -> buttons. 
  
  * The '.' represents an empty cell on the grid. */
  grid-template-areas:
    'h h h'
    'l c r'
    '. b .';
}

.app-header {
  grid-area: h;
  background-color: #282c34;
  min-height: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-title {
  font-size: 50px;
}

.tetris-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  gap: 0;
  align-self: flex-start;
  background-color: #606060;
  grid-area: c;
}

.color-0 {
  background-color: var(--color-0);
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.piece-stats {
  display: flex;
  flex-direction: column;
  border-color: var(--color-7);
  border-width: 2px;
}

.stat-bar {
  height: 5px;
  width: calc(4 * var(--tile-size));
}

.small-block {
  --tile-size: 5px;
  --border-width: 1;

  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: center;
}

.tetris-block {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

.blank-tetris-block {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: 0;
}

.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  align-self: flex-start;
  grid-area: r;
}

.score-board {
  grid-area: l;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.score-board-button {
  padding: 4px;
  width: var(--control-button-size);
  height: var(--control-button-size);
}

.controls {
  grid-area: b;
  display: grid;
  grid-template-columns: repeat(6, calc(var(--control-button-size) / 2));
  grid-template-areas:
    '. W W w w .'
    'a a s s d d';
}
.control-button {
  height: var(--control-button-size);
  width: var(--control-button-size);
  text-align: center;
  display: block;
}

.control-button-a {
  grid-area: a;
}

.control-button-d {
  grid-area: d;
}

.control-button-s {
  grid-area: s;
}

.control-button-w {
  grid-area: w;
}

.control-button-w-left {
  grid-area: W;
}
