@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  border-width: 5px;
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

* {
  box-sizing: border-box;
}

.navigation {
  background-color: #282c34;
  border-bottom-color: var(--border-bottom-color);
  border-bottom-width: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-button {
  border: 0px;
}

.navigate-back-button {
  flex: 1;
}

.game-history-button {
  margin-inline-start: auto;
}

.material-symbols-rounded {
  padding-top: 4px;
  font-size: 40px;
  font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 40;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.tetris-history-entry {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  border-radius: 1em;
  width: 90%;
  height: fit-content;
  align-self: center;
  justify-content: space-evenly;
  font-size: 24px;
  padding: 0.5em;
}

.full-screen-overlay {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: #282c34f0;
  border-radius: 2em;
  transform: translate(0%, 5%);
  z-index: 2;
  align-items: center;
}

.full-screen-overlay-content {
  position: absolute;
  border-radius: 2em;
  display: flex;
  left: 0%;
  top: 0%;
  width: 100%;
  max-height: 98%;
  overflow-y: auto;
  flex-direction: column;
  align-items: stretch;
}

.overlay-header {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  width: 90%;
  align-self: center;
  font-size: 24px;
}

.message-popup {
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, 0%);
  width: calc(var(--tile-size) * 14);
  height: calc(var(--tile-size) * 5);
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-content: center;
}

.message-text {
  font-size: 45px;
  color: black;
}

.message-popup.hidden {
  display: none;
}

.route-link-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 85%;
  justify-self: center;
}

.route-link-button {
  width: 100%;
  font-size: 40pt;
  font-weight: bold;
}
